<!DOCTYPE html>
<html>
<head>
  <title>RailsCookbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Show All Recipes", recipes_path %>
<%= link_to "Show All Categories", categories_path %>

<%= yield %>

</body>
</html>
